:root {
    --shadow-color: #888;
    --background-color: #fff;
}

* {
    font-family: "Roboto", "Noto Sans TC";
    font-weight: 400;
}

html, body {
    background-color: var(--background-color);
}


#showarea {
    text-align: center;
    max-width: 1600px;
    margin: auto;
}

.studio {
    text-align: center;
    display: inline-block;
    margin: 100px 20px 20px 20px;
    background-color: #eee;
    box-shadow: 0px 0px 15px var(--shadow-color);
    transition: .2s;
    min-width: 290px;
}

.studio:hover {
    box-shadow: 0px 0px 25px var(--shadow-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
    transform: translateY(-10px);
}

.studio h4 {
    margin-top: 20px;
    padding: 0px 20px 0px 20px
}

.studio p {
    color: gray;
    margin-top: 20px;
}

.studio img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.fdlink a {
    transition: .2s;
    font-size: 26px;
    color: #002277;
    padding: 8px;
    border-radius: 5px;
}

.fdlink a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.fdlink {
    padding: 10px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --shadow-color: #111;
        --background-color: #2a2c2f;
    }

    h1, h2, h3, h4, p {
        color: #ddd;
    }

    .studio {
        background-color: #333;
    }

    .studio h4 {
        color: #fff;
    }

    .fdlink a {
        color: #ccc;
    }

    .fdlink a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }
}